.padder {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 2px;
}
.mat-grid-tile {
  background: lightblue;
}
.mat-card {
  position: absolute;
  top: 10%;
}
